* {
    box-sizing: border-box;
}

body {
    font-family     : 'Roboto', sans-serif;
    margin          : 0;
    padding         : 0;
    background-color: #FEFEFE;
}

.container {
    width : 1202px;
    margin: 0 auto;
}

.block__header {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    height         : 89px;
}

.header__img {
    margin-top : 12px;
    width      : 80px;
    height     : 63px;
    margin-left: 25px;
}

.header__nav-ul {
    display       : flex;
    flex-direction: row;
}

.header__nav-ul>li {
    padding-left: 30px;

}

.nav__ul-link {
    display        : inline-block;
    padding-top    : 37px;
    height         : 98px;
    text-decoration: none;
    font-weight    : 400;
    font-size      : 15px;
    line-height    : 19px;
    color          : #000000;
}

.nav__ul-link:hover {
    color     : #EF7F04;
    box-shadow: 0 4px 0 #EF7F04 inset;
}

.block__header-btn {
    display       : flex;
    flex-direction: row;
    margin-right  : 100px;
    margin-left   : 50px;
    margin-top    : 22px;
}

.btn__margin-right {
    margin-right: 15px;
}

.header__btn {
    width           : 150px;
    height          : 35px;
    background-color: #3B3A63;
    border-radius   : 3px;
    color           : #FFFFFF;
    font-weight     : 700;
    font-size       : 12px;
    line-height     : 15px;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
    border          : none;
    outline         : none;
    padding         : 12px;
}

.header__btn:hover {
    background-color: #EF7F04;
    cursor          : pointer;
}

.block__section-form {
    height: 562px;
}