main {
    background-color: #F2F2F2;
}

.block__form-bg {
    background-image   : url(assets/form_blue.png);
    background-position: center;
    height             : 505px;
}

.section__header {

    color      : #2F2F51;
    font-weight: 700;
    font-size  : 22px;
    line-height: 23px;
    height     : 128px;

}

.section__header>h2 {
    padding-top : 63px;
    padding-left: 500px;
}

.block__services {
    display       : flex;
    flex-direction: row;
    flex-wrap     : wrap;
    margin-left   : 25px;
    height        : 495px;
}

.services__card {
    width        : 535px;
    height       : 240px;
    box-shadow   : 5px 7px 9px 3px rgb(0 0 0 / 15%);
    border-radius: 3px;
    margin-right : 10px;
    margin-bottom: 10px;
}

.card__windows {
    background-image   : url(assets/card_window.png);
    background-position: center;
    background-size    : cover;
}

.card__balcony {
    background-image   : url(assets/card_balcony.png);
    background-position: center;
}

.card_cottage {
    background-image   : url(assets/card_cottage.png);
    background-position: center;
    background-size    : cover;
}

.card_building {
    background-image   : url(assets/card_building.png);
    background-position: center;
    background-size    : cover;
}

.services__card-header {
    display       : flex;
    flex-direction: row;
    margin        : 53px 0 0 43px;
}

.services__card-header>img {
    width : 65px;
    height: 70px;
}

.services__card-header>h3 {
    color      : #2F2F51;
    font-weight: 700;
    font-size  : 22px;
    line-height: 24px;
    padding    : 10px 0 0 15px;
}

.services__card>p {
    font-weight: 400;
    font-size  : 14px;
    line-height: 19px;
    color      : #2F2F51;
    padding    : 21px 0 0 47px;
}