main {
    background-color: #F2F2F2;
}

.block__form-bg {
    background-image   : url(/assets/form_blue.png);
    background-position: center;
    height             : 505px;
}

.section {
    padding-top    : 55px;
    padding-bottom : 48px;
    text-align     : center;
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.section_short {
    padding-bottom: 22px;
}

.section-header {
    color      : #2F2F51;
    font-weight: 700;
    font-size  : 22px;
    line-height: 23px;
}

.block-services {
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: center;
    height         : 495px;
}

.block-services__card {
    width        : 535px;
    height       : 240px;
    box-shadow   : 5px 7px 9px 3px rgb(0 0 0 / 15%);
    border-radius: 3px;
    margin-right : 10px;
    margin-bottom: 10px;
}

.block-services__card_windows {
    background-image   : url(/assets/card_window.png);
    background-position: center;
    background-size    : cover;
}

.block-services__card_balcony {
    background-image   : url(/assets/card_balcony.png);
    background-position: center;
}

.block-services__card_cottage {
    background-image   : url(/assets/card_cottage.png);
    background-position: center;
    background-size    : cover;
}

.block-services__card_building {
    background-image   : url(/assets/card_building.png);
    background-position: center;
    background-size    : cover;
}

.services-card__position {
    display       : flex;
    flex-direction: row;
    margin        : 53px 0 0 43px;
}

.services-card__logo {
    width : 65px;
    height: 70px;
}

.services-card__header {
    color      : #2F2F51;
    font-weight: 700;
    font-size  : 22px;
    line-height: 24px;
    padding    : 10px 0 0 15px;
}

.services-card__content {
    font-weight: 400;
    font-size  : 14px;
    line-height: 19px;
    color      : #2F2F51;
    padding    : 21px 0 0 47px;
}